.home-section {
  min-height: 100vh;           
  display: flex;               
  justify-content: center;    
  align-items: center;         
  background-color: #f5f5f5;
  padding: 10px 20px;          
}

.hero-content {
  text-align: center;
  padding: 10px 20px;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 0px;
  color: #333;
}

.subtitle {
  font-size: 20px;
  color: #666;
  margin-bottom: 30px;
}

.cta-button {
  padding: 15px 30px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #333333;
}